.mainContainer {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    text-align: center;
}
.navbar {
    background: pink ;
    padding: 10px;
    border-radius: 5px;
    color: black ;
}
.navbar-actions {
    display: flex;
    gap: 15px;
}
.icon {
    cursor: pointer;
    font-size: 1.2rem;
}
.help-container, .history-container {
    background: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto;
    max-width: 500px;
}
.upload-btn-wrapper label {
    cursor: pointer;
    padding: 8px 12px;
    background: #28a745;
    color: black;
    border-radius: 5px;
}
.uploadCard, .image {
    width: 100%;
    max-width: 250px;
    margin: 10px auto;
}
#qualitySlider {
    width: 100%;
}
.button-container {
    margin-top: 10px;
}
.btn {
    padding: 8px 12px;
    font-size: 1rem;
}
.download-btn {
    margin-top: 10px;
}